* {	font-weight: normal !important;
}

nav {
	
	display: block;
	text-align: center;
	
  	
}

#nav ul {
  	padding: 10px;
  	border: 2px solid;
  	list-style-type: none;	
	text-decoration: none;
}
  	

.navstyle ul li {
	
	
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

li h2 {
	font-family: 'Dancing Script', cursive, sans-serif;;
}


