* a {	text-decoration: none; !important;
}


// Navigation
nav {
	//display: block;
	//text-align: center;
}

nav ul {
  	padding: 30px;
  	border: 2px solid;
  	list-style: none;
  	text-align: center;
}
  	

nav ul li {
	text-align: center;	
	text-decoration: none;
	display: inline;
}

nav a {
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 5.0vh;
	padding: 10px;
}

.container {
	margin: 0 auto;
	width:960px;
	font-family: 'Poiret One', cursive;
	font-weight: strong;
	
	
}

ul li {	
	list-style-type: none;
	text-decoration.none
}



h1 {
	font-family: 'Poiret One', cursive;
	background: #F0F8FF;
}

li h2 {
	font-family: 'Poiret One', cursive;
}

