* {	font-weight: normal !important;
}

// Navigation
nav {
	display: block;
	text-align: center;
}

nav ul {
  	padding: 10px;
  	border: 2px solid;
  	list-style: none;
}
  	

nav ul li {
	text-align: center;	
	text-decoration: none;
	display: inline;
	
}


//TODO List
h1 {
	font-family: 'Quicksand', sans-serif;
}

li h2 {
	font-family: 'Dancing Script', cursive, sans-serif;;
}


